<%- include('../partials/html-head') %>

<body>
    <%- include('../partials/header') %>

    <main class="main-container">

                <ul class="display-house-card">

                    <% if(registeredHomes.length <= 0){
                        registeredHomes = DEFAULT_HOMES;
                    } %>

                    <% registeredHomes.forEach((home) => { %>                 
                        <a href="/home/<%= home.id %>" class="home-details-container" title="click for more details">
                            <li class="liiii">
                                <div class="house-card-container">
                                    <div class="house-card-img-container-987102">
                                        <img class="house-card-img-url-798872" src=<%= home.imgUrl%> alt="" srcset="">
                                    </div>
                                    <div class="house-card-text-container">
                                        <span class="house-title"> <%=home.location %></span>
                                        <div>
                                            <span class="house-info">₹ <%= home.price%> </span>
                                        <span class="house-info" >for <%= home.nights%> nights</span>
                                        <span class="house-info"><span class="house-card-star-icon">&#9733;</span> <%= home.rating%> </span>
                                        </div>
                                    </div>

                                    <div class="edit-delete-btn">
                                        <form action="/host/deleteHome/<%= home.id%>" method="POST">
                                            <button class="edit-delete-btns" title="Delete" type="submit"><i class="material-icons edit-delete-housecard-btn" style="font-size: 23px;">delete</i></button>
                                        </form>


                                        <a href="/host/addHomes/<%=home.id%>?editing=true" class="edit-delete-btns" title="Edit"><i class="fa fa-edit edit-delete-housecard-btn" style="font-size: 20px;"></i></a>
                                    </div>
                                </div>
                            </li>
                        </a>
                    <% }) %>
                </ul>
    </main>
    










</body>
</html>