<%- include('../partials/html-head') %>

<body>
    <%- include('../partials/header') %>

    <main class="main-container">

        <ul class="display-house-card">

            <% favoritehome.forEach((favHome) => { %>                 
                <a href="" class="home-details-container" title="click for more details">
                            <li class="liiii">
                                <div class="house-card-container">
                                    <div class="house-card-img-container-987102">
                                        <img class="house-card-img-url-798872" src="<%= favHome.imgUrl%>" alt="" srcset="">
                                    </div>
                                    <div class="house-card-text-container">
                                        <span class="house-title"> <%=favHome.location %></span>
                                        <div>
                                            <span class="house-info">₹ <%= favHome.price%> </span>
                                        <span class="house-info" >for <%= favHome.nights%> nights</span>
                                        <span class="house-info"><span class="house-card-star-icon">&#9733;</span> <%= favHome.rating%> </span>
                                        </div>
                                    </div>

                                    <!-- Remove button -->
                                     <form action="removefavHome/<%= favHome._id%>" method="POST">
                                            <button class="edit-delete-btns remove-fav-homes" title="Delete" type="submit"><i class="material-icons edit-delete-housecard-btn" style="font-size: 23px;">delete</i></button>
                                        </form>

                                </div>
                            </li>
                        </a>
                    <% }) %>
        </ul>



    </main>

</body>
</html>